footer {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

footer .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.navigation__home a,
.navigation__bookmark-page a,
.navigation__new-card a,
.navigation__profile a {
  text-decoration: none;
  color: inherit;
}

.navigation__home,
.navigation__bookmark-page,
.navigation__new-card,
.navigation__profile {
  font-size: 40px;
  color: white;
  padding: 7px;
}

.navigation__home:hover,
.navigation__bookmark-page:hover,
.navigation__new-card,
.navigation__profile:hover {
  cursor: pointer;
}

.navigation__current {
  color: var(--violet);
  border-radius: 30%;
}
