h1 {
  text-align: center;
  padding: 0.7rem;
  background-color: var(--green);
  color: white;
  font-size: 50px;
  height: 100%;
  font-family: Arial;
}

@media (max-width: 400px) {
  h1 {
    font-size: 30px;
  }
}
