.quiz-card {
  padding: 3rem;
  margin: 2rem;
  background-color: var(--violet);
  border: 2px solid var(--green);
  border-radius: 3%;
  text-align: center;
  position: relative;
  font-family: Arial;
}

.quiz-card__tag {
  display: flex;
  flex-flow: row wrap;
  gap: 7px;
  position: absolute;
  bottom: 7px;
  left: 7px;
  font-size: 1rem;
}

.quiz-card__tag-css,
.quiz-card__tag-basics,
.quiz-card__tag-js,
.quiz-card__tag-html {
  border: 1px solid var(--green);
  padding: 3px;
  border-radius: 10%;
  background-color: white;
}

.bookmark {
  position: absolute;
  top: -18px;
  right: 10%;
  font-size: 2.5rem;
  color: grey;
}

.bookmark:hover {
  cursor: pointer;
}

.tagged {
  color: var(--green);
}

button.bookmark {
  background-color: transparent;
  border-color: transparent;
}

.quiz-card__answer {
  font-weight: bold;
  padding: 10px;
  color: var(--violet);
}

.quiz-card__question {
  padding: 10px;
}

.quiz-card__button {
  color: white;
  background-color: var(--green);
  border: 1px solid var(--green);
  padding: 7px;
  border-radius: 7%;
}

.quiz-card__button:hover,
.quiz-card__button:hover {
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

.hidden {
  color: var(--green);
}
